{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <ul class="header" style="margin-bottom: 10rem">
        <li>
            <form action="/">
                <input class="btn btn-primary" type="submit" value="Home">
            </form>
        </li>
        <li style="float: right; margin-right: 3rem">
            <form action="/register">
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
        </li>
        <li style="float: right; margin-right: 3rem;">
            <form action="/login">
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </li>
    </ul>
    <div style="margin-left: 70%">
        <form action='/login' method="post">
            <input autofocus autocomplete="off" class="form-control" name="username" placeholder="Username" style="width: 12rem; margin-bottom: 1rem"
                   type="text">
            <ul class="header">
                <li>
                    <input autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" style="width: 12rem; margin-left: -2rem; margin-bottom: 1rem" type="password">
                </li>
                <li>
                    <input style="margin-left: 1rem;" type="checkbox" onclick="showpassword2()">
                    <span style="color: white">Show Password</span>
                </li>
            </ul>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        <script>
            function showpassword2() {
                let password = document.querySelector('#password')
                if (password.type === "password") {
                    password.type = "text";
                } else {
                    password.type = "password";
                }
            }
        </script>
    </div>
{% endblock %}