{% extends "layout.html" %}
{% block title %}
Search_book
{% endblock %}

{% block body %}
    <ul class="header">
        <li style="margin-right: 1rem">
            <form action="/">
                <input class="btn btn-primary" type="submit" value="Home">
            </form>
        </li>
        <li style="margin-right: 1rem">
            <form action="/search">
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </li>
        <li style="margin-right: 1rem">
            <form action="/buy">
                <input class="btn btn-primary" type="submit" value="Buy">
            </form>
        </li>
        <li>
            <form action="/favorite">
                <input class="btn btn-success" type="submit" value="Shopping Cart">
            </form>
        </li>
        <li style="margin-right: 3rem; float: right">
            <form action="/logout">
                <input class="btn btn-primary" type="submit" value="Logout">
            </form>
        </li>
    </ul>
    <div class="page_margin">
        <table class="table table-bordered table-striped table-info">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Press</th>
                <th scope="col">ISBN</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ name }}</th>
                <th scope="row">{{ price }}</th>
                <th scope="row">{{ press }}</th>
                <th scope="row">{{ isbn }}</th>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}